<div layout="column">
	<div>
		<md-grid-list
	    md-cols="2"
	    md-cols-gt-sm="3"
	    md-cols-gt-md="6"
	    md-row-height="1:1"
	    md-gutter="0px"
		>

			<!-- Hero tile -->
		  <md-grid-tile
		    md-rowspan="1"
		    md-rowspan-gt-md="2"
		    md-colspan="2"
		    md-colspan-gt-sm="1"
		    md-colspan-gt-md="2"
		    md-colors="{
		    	background: 'default-accent'
			  }"
		   >
		    <img src="res/datapol.svg" style="height: 80%; width: 80%">
		  </md-grid-tile>

		  <!-- Pitch -->
		  <md-grid-tile
		    md-rowspan="1"
		    md-rowspan-xs="2"
		    md-colspan="1"
		    md-colspan-gt-md="2"
		    md-colors="{
		    	'background': 'default-primary-700',
		    	'color': 'default-accent-200'
			  }"
		  >
		   	<div style="padding: 16px; font-size: 1.2em; font-weight: 100">
			  	<em>
			  		Datapol s'est déroulé du 29 novembre au 2 décembre 2017 à Sciences Po Paris. Plus de 80 participants y ont exploré les données numériques des campagnes électorales, des bulles de filtre aux nouvelles pratiques de mobilisation politique.
			  	</em>
			  </div>
		  </md-grid-tile>

		  <!-- Organisateurs -->
		  <md-grid-tile
		    md-rowspan="2"
		    md-rowspan-xs="4"
		    md-colspan="1"
		    md-colspan-gt-md="2"

		  >
		  	<div style="padding: 8px" layout="row" layout-wrap>
			  	<div flex="100" flex-gt-md="50" ng-repeat="orga in organisateurs" layout-fill layout="column" layout-align="center center">
			  		<a ng-href="{{orga.link}}" target="_blank" layout="column" layout-align="center center" style="min-height: 60px">
				  		<img ng-src="{{orga.logo}}" style="height: 50%; width: 50%">
				  	</a>
			  		<md-tooltip md-direction="left">{{orga.name}}</md-tooltip>
			  	</div>
			  	<div flex="100" layout-fill layout="column" layout-align="center center">
			  		<br>Avec le soutien du<br>
			  		<a ng-href="https://newslab.withgoogle.com/" target="_blank" layout="column" layout-align="center center" style="min-height: 60px">
				  		<img ng-src="res/googlenewslab.svg" style="height: 50%; width: 50%">
				  	</a>
			  		<md-tooltip md-direction="left">Google News Lab</md-tooltip>
			  	</div>
			  </div>
		  </md-grid-tile>

		  <!-- Image -->
		  <md-grid-tile
		    md-rowspan="1"
		    md-rowspan-xs="2"
		    md-colspan="1"
		    md-colspan-gt-sm="2"
		    style="background-image:url(res/datapol01.png); background-position:center center;"
		  >
		  </md-grid-tile>

		</md-grid-list>
	</div>
		
	<div layout="row">
		TODO: Liste des projets - datasets - outils
	</div>
		
	<!-- Contact -->
	<div
		layout="row"
		layout-align="center center"
		style="padding: 16px"
		md-colors="{
    	background: 'default-accent-700'
	  }"
	>
		<div>
			Contact: <a href="mailto:audrey.baneyx@sciencespo.fr?subject=DATAPOL" target="_top">audrey.baneyx@sciencespo.fr</a>
		</div>
	</div>

	<!-- Mentions légales -->
	<div
		layout="column"
		layout-align="center center"
		style="padding: 16px;"
		md-colors="{
    	background: 'default-background-200'
	  }"
	>
		<img src="res/investissementsdavenir.png" style="height: 100px">
		<p><em>Equipex DIME-SHS ANR-10-EQPX-19-01</em></p>
		<br>
		<a href="legalnotice.html">Mentions légales</a>
	</div>

</div>