<div layout="column">
	<div layout="row">
		<div
			layout="column"
			layout-align="center center"
			md-colors="{
	    	background: 'default-accent'
		  }"
		  style="width: 100px; height: 100px"
		>
			<a ng-href="#!/" style="height: 80%; width: 80%">
				<img src="res/datapol.svg" style="height: 100%; width: 100%">
			</a>
		</div>
	</div>
		
	<div layout="row">
		<div
			layout="column"
		  style="width: 100px"
		>
		</div>
		<div
			layout="column"
			flex
			style="font-size: 1.2em; padding-right: 12px; overflow: hidden; max-width: 800px"
		>
			<div layout-fill>
				<marked layout-fill src="'md/'+mdFile+'.md'" compile="true">
					# Page not found :(
				</marked>
			</div>
		</div>
	</div>

	<!-- Contact -->
	<div
		layout="column"
		layout-align="center center"
		style="padding: 16px; margin-top: 48px"
		md-colors="{
    	background: 'default-accent-700'
	  }"
	>
		<div>
			<a href="legalnotice.html" style="color: rgba(0, 0, 0, 0.6)">Mentions légales</a>
		</div>
	</div>

</div>