/*
 * Generic
 */
.toolbar {
	background-color: #ffca28;
}

.toolbar.skin-manifesto {
	background-color: #b13b3b;
}

.toolbar.skin-population-data {
	background-color: #43A047;
}

.doc-content {
	padding: 24px;
	padding-bottom: 120px;
}

.doc-content img {
	padding: 12px 0px;
	max-width: 400px;
}

/*
 * Explore index page
 */

.data-select-bar {
	background-color: #ffca28;
}

.input-proxy-container {
  padding-top: 27px;
}

div :focus, svg :focus {
	outline: 0;
}

.text-center {
	text-align: center;
}


/* Topic selector */
div[topic-selector] {
	background-color: #FFCA28;
	z-index: 80;
}
.domain-tile, .measure-tile {
	border-radius: 3px;
	cursor: pointer;
	text-transform: uppercase;
	color: #616161;
}
.domain-tile:hover, .measure-tile:hover {
	color: #000000;
}
.domain-tile {
	background-color: #FFECB3;
}
.measure-tile {
	background-color: #FFF8E1;
}
.domain-tile.highlight, .measure-tile.highlight {
	background-color: #80CBC4;
}

/* Time slider */

div[time-slider] {
	z-index: 80;
}
.time-slider {
  height: 60px;
  background-color: #FFF;
}
.time-slider-slider {
  width: 100%;
	margin-top: 6px;
	margin-bottom: 6px;
  margin-left: 300px;
  margin-right: 24px;
  cursor: pointer;
}
.time-slider-left {
	width: 300px;
	height: 60px;
	position: absolute;
	background-color: #B2DFDB;
}
.time-slider-left .time-button {
	margin-top: -7px;
	text-align: right;
}
@media (max-width: 768px) {	/* Smartphone */
	.time-slider {
	  height: 36px;
	}
	.time-slider-left {
		height: 36px;
	}
	.time-slider-left .time-tag {
		margin-top: -12px;
	}
	.time-slider-left .time-button {
		margin-top: -19px;
	}
	.time-slider-slider {
		margin-top: -6px;
		margin-bottom: 0px;
	}
}

/* Stacked curves */

div[stacked-curves-country] {
	width: 100%;
	height: 320px;
}
.stacked-curves-left {
	width: 300px;
	height: 320px;
	position: absolute;
}

/* Hex map */

div[hex-country] {
	width: 100%;
	height: 600px; 
}
@media (max-width: 939px) {	/* SM- */
	div[hex-country] {
		height: 480px; 
	}
}
@media (max-width: 599px) {	/* XS */
	div[hex-country] {
		height: 240px; 
	}
}

/* Simple curves */
/* -> nothing specific to this directive */

/* Single curves */
/* -> specific to the page*/
.single-curve {
	border-top: 1px solid #EEEEEE;
}

/* Wizard placeholders*/
.wizard-placeholder {
	margin-top: 50px;
	margin-bottom: 100px;
}
.time-slider-info {
	margin-top: 60px;
	margin-bottom: 50px;
}

/* Balloon arrow */
.balloon-container {
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: 50%;
}
.balloon-container.bottom {
	margin-top: 0px;
	margin-bottom: 30px;
}
.balloon-box {
	border-radius: 6px;
	margin-left: -100px;
	width: 200px;
	position: relative;
	background: #FFFFFF;
	color: #BDBDBD;
}
.balloon-box:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #FFFFFF;
	border-width: 30px;
	margin-left: -30px;
}
.balloon-container.bottom .balloon-box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #FFFFFF;
	border-width: 30px;
	margin-left: -30px;
}

 /*
 * Explore index page
 */

#pop-data-sidebar input[type="number"] {
  text-align: center;
  padding-left: 10px;
}

#pop-data-sidebar h4 {
	margin-top: 48px;
}

.pop-data-content {
	overflow-y: auto;
}

.profile-sidebar-title {
	font-size: 0.9em;
	cursor: pointer;
	height: 62px;
	/*overflow: hidden;*/
}

.profile-sidebar-title h3 {
	font-weight: 300;
	margin: 0px;
}

.profile-sidebar-title p {
	margin: 0px;
	opacity: 0.8;
}

.profile-sidebar-title img {
	width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  margin: 6px;
}

.profile-sidebar-title .oneliner {
	margin-top: 12px;
}

.profile-sidebar-content {
	padding: 24px;
	overflow-x: hidden;
	overflow-y: auto;
}

.profile-sidebar-content md-input-container {
	width: 100%;
}

.profile-form-title {
}

.profile-form-subtitle {
	opacity: 0.6;
}

.profile-form-message {
	text-align: right;
  color: #36827a;
  font-size: 0.8em;
  font-weight: 500;
  margin-top: -6px;
}

.profile-tile {
  overflow: hidden;
	cursor: pointer;
}

.profile-tile-content {
	font-size: 0.96em;
	padding: 12px;
}

.profile-tile-content h3 {
	font-weight: 300;
	margin: 0px;
}

.profile-tile-content p {
	margin: 0px;
	opacity: 0.8;
}

.profile-tile-content img {
	width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: content-box;
  margin-right: 6px;
}

.floating-menu-button {
	position: absolute;
	left: 12px;
	top: 12px;
}

.diagram-tile {
	
}

.darker-grid {
	background-color: #aeaeae;
}

.floating-splash {
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #FFFFFF;
  margin-left: 50%;
  margin-top: 200px;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.floating-splash .floating-splash-content {
	padding: 80px 20px 0px 20px;
	text-align: center;
	font-weight: 300;
	font-size: 20px;
}

div[happiness-diagram] .axis path,
div[happiness-diagram] .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div[happiness-diagram] .axis text {
  font: 10px sans-serif;
}

div[happiness-diagram] .cells path {
  fill: none;
  pointer-events: all;
}

div[happiness-diagram] .cells circle.active {
  cursor: pointer;
}

div[happiness-diagram] div.tooltip {	
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  pointer-events: none;
  margin-top: -60px;
	margin-left: -60px;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	background-color: #FFF;
}

div[happiness-diagram] div.tooltip-score {
	margin-top: 24px;
	font-size: 48px;
}

div[happiness-diagram] div.tooltip-text {
	margin-top: -6px;
	font-size: 10px;
}

/* Misc D3 classes */

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}